.navbar-right {
    position: absolute;
    left: 65%;
    transform: translatex(5%) ;
}
.botonesNabBar{
    margin-left: 20px !important;
}
.tarjeta{
    background-color: #933e3e00 !important;
    border: none !important;
}
.bodyCard{
    background-color: white !important;
    border-radius:0 0 20px 20px !important;
}
.headerCard{
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
}
#input{
    border-radius: 0 5px 5px 0;
}
.botonAgregar{
    text-align: -webkit-right;
}
.headerCard2{
    margin: 20px;
}
.table.dataTable.no-footer{
    padding-top: 10px !important;
}
.da{
    background-color: white !important;
    padding: 20px;
    border-style: solid;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.175) !important;
    border-radius: 20px !important;
}


