*{
    color: white;
}
#fondoTitulo{
    background-color: #000000 !important;
}
.fondoBody{
    background-color: #303030 !important; 
}
#fondoCardLogin{
    background-color: #424242 !important; 
}
#fondoTitulo{
    background-color: #000000 !important;
}
